

<div role="main">
  <div class="container">
    <img style="margin:auto" class="row d-flex p-3 bd-placeholder-img bd-placeholder-img-lg img-fluid" width="500"
         height="auto" src="assets/images/mdaca-storage.svg" focusable="false" alt=""/>

    <hr class="featurette-divider">
  </div>

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="auto" height="75" src="assets/images/ease-of-use.svg" alt=""/>

        <h2>Ease of Use and Flexibility</h2>
        <p>Allows enterprise users to easily leverage single or multi-cloud environments to access both cloud-native and
          traditional storage without having to understand the underlying implementation.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="auto" height="75" src="assets/images/cost.svg" alt=""/>

        <h2>Cost Effective</h2>
        <p>Designed to take into account native cloud efficiencies. Minimizes network file transfers and leverages
          features such as file previews and other cost savings approaches.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="auto" height="75" src="assets/images/security.svg" alt=""/>

        <h2>Security/Auditing</h2>
        <p>Enables access and policy management for your files. Fully integrates with enterprise authentication and
          authorization by supporting both Kerberos and standards based SSO such as SAML and OIDC. Advanced and
          configurable audit and logging capabilities.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Key Features</h2>
        <p class="lead">MDACA Cloud Storage Explorer is a web-based file explorer that is designed to allow you to
          manage files across a wide range of cloud storage providers through a single integrated solution. This
          includes: AWS S3, Azure Blob Storage, Google GCP Cloud Storage, SharePoint Document Libraries as well as
          Windows and Linux shares. The MDACA Cloud Storage Explorer is designed to take advantage of cloud-native
          services while taking into account cost optimization approaches tailored to increase productivity and reduce
          cost.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
             height="auto" src="assets/images/storage-explorer-chart.png" focusable="false" alt="MDACA Flow Diagram"/>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


<!-- FOOTER -->
<footer class="container">
  <p>© 2020 SpinSys · <a href="https://mdaca.io/terms" target="_blank">Terms</a></p>
</footer>
  </div>
